{% extends 'homebase.html' %}
{% block tittle %}{{ setting.title }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}

{% block sidebar %}{% include 'sidebar.html' %}{% endblock %}

{% block body %}
<!-- BREADCRUMB -->
<div id="breadcrumb">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="About us">About Us</li>
    </ul>
  </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->

    <div class="row">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      <div class="row">
        <div class="col-md-4">
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}
              {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
            {% endfor %}
            <button type="submit">Sign up</button>
          </form>

          If you already have an account <a href="/login" target="blank"><strong>Login</strong></a> instead
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /section -->
{% endblock %}
{% block footer %}{% include 'footer.html' %}{% endblock %}
