{% extends 'homebase.html' %}

{% block title %} Order List {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

<!-- BREADCRUMB -->
<div id="breadcrumb">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Order List</li>
		</ul>
	</div>
</div>
<!-- /BREADCRUMB -->
<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-3">
				{% include "user_panel.html" %}
				</div>
			<div class="col-md-9">
				<div class="order-summary clearfix">
					<div class="section-title">
						<h3 class="title">Order List</h3>
					</div>
					<table class="shopping-cart-table table">
						<thead>
							<tr>
								<th class="text-center">id</th>
								<th class="text-center">name</th>
								<th class="text-center">Total</th>
								<th class="text-center">Status</th>
								<th class="text-center">Date</th>
								<th class="text-center">Detail</th>
							</tr>
						</thead>
						<tbody>
							{% for rs in orders %}
							<tr>
								<td class="text-center">{{ rs.id }}</td>
								<td class="text-center">{{ rs.first_name }} {{ rs.last_name }}</td>
								<td class="text-center">{{ rs.total }}</td>
								<td class="text-center">{{ rs.status }}</td>
								<td class="text-center">{{ rs.create_at }}</td>
								<td class="text-center"><a class="primary-btn" href="/user/orderdetail/{{ rs.id }}">Details</a></td>
							</tr>
							{% endfor %}
						</tbody>

					</table>

				</div>

			</div>
	</div>
	<!-- /row -->
</div>
<!-- /container -->
</div>
<!-- /section -->



</div>
<!-- /row -->
</div>
<!-- /container -->
</div>
<!-- /section -->

{% endblock %}
{% block footer %}{% include 'footer.html' %}{% endblock %}
